@model IEnumerable<Hostell.Models.Block>

@{
    ViewData["Title"] = "Main";
}

<h1 class="text-center">Список блоков</h1>

<table class="table text-center table-success table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoBlock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OccupiedPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balcony)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NoBlock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPlace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OccupiedPlace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Floor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balcony)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-outline-primary align-content-center" asp-action="Add">Добавить</a>
